// body --------------------------------------------------------
html {
  height: 100%;
}
body {
  height: 100%;
  padding-top: 50px;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
a {
  color: inherit;
}
.body-container {
  display: flex;
  width: 100%;
  height: 100%;
  .body-content {
    width: 70%;
    height: 100vh;
    overflow-y: auto;
    padding: 5px 25px 25px 25px;
    #body-nav {
      padding-top: 15px;
      font-family: 'Crete Round', serif;
      span {
        &:not(:first-of-type) {
          padding-left: 5px;
        }
        &:last-of-type:after {
          content: "";
        }
        &:after {
          content: "|";
          padding-left: 5px;
          color: black;
        }
        .active {
          color: $dark-peach;
        }
      }
    }
    h1 {
      color: $dark-peach;
      font-weight: 200;
      border-bottom: solid 1px $dark-peach;
      padding: 15px 0;
    }
  }
}

@media only screen and (max-width : 768px) {
  .body-container .body-content {
    width: 100%;
  }
}
