$off-white: #fffefa;
$white: #ffffff;
$pale-grey: #f4f7f8;
$dark-peach: #ec635d;
$greyish-brown: #4d4646;
$faded-blue: #6298b7;
$greyish: #aba5a5;
$pale-grey-two: #dbe2e6;
$dull-red: #b63f3a;
$greyish-brown-20: rgba(77, 70, 70, 0.2);
$greyish-brown-50: rgba(77, 70, 70, 0.5);
$blush: #eb8e8a;
$windows-blue: #4199cc;
